html {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    color: #000000;
    font-family: 'helvetica';
	background-color: white;
}

h1 {
	font-weight: bold;
	color: #ffffff;
	position: absolute;
	left: 10px;
	bottom: 0;
	font-size: 3rem!important;
}

h2 {
	text-align: center;
}

.smaller {
	font-size: 2.5rem!important;
}

.header-container {
	width: 100%;
	height: 100%;
}

header {
	max-height: 100%;
	height: auto;
	background-color: #000000;
	border-radius: 10px;
	border: 5px solid rgba(0,0,0,0.1);
 	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.7);
}

header img {
	float: right;
	width: 50%;
	height: auto;
	max-width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* WRAPPER */

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

/* MAIN */

main {
    margin-bottom: auto;
    position: relative;
}

/* MIDDLE */

.middle {
	display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out 0.25s;
	transition: all .3s ease-in-out;
	animation-fill-mode: backwards;
}

img.splash {
	max-width: 300px;
	width: 100%;
}

img.splash:hover {
	transform: rotate(7deg);
	cursor: pointer;
}

#answer-list {
	list-style-type: none;
	max-width: 600px;
	margin: 0 auto;
	padding: 0!important;
}

.answer-item {
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 5px solid black;
}

.answer-item:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.correct {
	background-color: green;
	color: white;
	border: 5px solid green;
	transition: all .2s ease-in-out;
}

.correct:hover {
	background-color: green;
}

.wrong {
	background-color: red;
	border: 5px solid red;
	color: white;
	text-decoration: line-through black;
	transition: all .2s ease-in-out;
}

.wrong:hover {
	background-color: red;
}

.flip {
	animation: flipIt 1.25s ease-in-out 0.5s;
	transition: all .3s ease-in-out;
}

.flipoff {
	animation-name: none;
}

/* ENDGAME */

.endgame {
	display: none;
	width: 100%;
	height: 100%;
	animation: fadeIn 1s ease-in-out 0.25s;
	transition: all .3s ease-in-out;
	animation-fill-mode: backwards;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

footer p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flipIt {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

@media screen and (max-width: 798px) {
	h1 {
		font-size: 2.5rem!important;
	}
	.smaller {
		font-size: 2rem!important;
	}
}

@media screen and (max-width: 510px) {
	h1 {
		font-size: 2rem!important;
	}
	.smaller {
		font-size: 1.5rem!important;
	}
}

@media screen and (max-width: 385px) {
	header img {
		width: 50%;
	}
	h1 {
		font-size: 1.5rem!important;
	}
	.smaller {
		font-size: 1rem!important;
	}
}